{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="jumbotron">
            <p class="lead">Let's practice</p>
            <li class="lead">If your choice right  the next question comes</li>
            <li class="lead">Press button below if you want new question</li>

        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        {% if data %}
        <hr>
            <div class="alert alert-primary" role="alert"><b>Definition: </b><span class="Definition">{{ data[0].definition }}</span></div>
            {% for item in range(3) %}
                <div class="alert alert-success" role="alert">
                    <div class="c" id="{{item}}" style="color: black; cursor: pointer;">{{ data[0].keywords[item] }}</div>
                </div>
            {% endfor %}
        <hr>
        <div>
            <button class="btn btn-outline-danger" id="new-question">One more time</button>
        </div>
        {% endif %}

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $( ".c, .omt" ).on("click", function(){
            var item = $(this)
            if(item.attr("class") == "omt"){
                var options = []
                for(var i=0; i<3; i++){
                    options.push($(`#${i}`).text())
                }
                var data = {
                    answer: $(this).text(),
                    definition: $(".definition").text(),
                    options: JSON.stringify(options),
                }
            } else {
                var ch = [{% if data %}{{ data[0].definition|tojson }}{%endif%}]
                var data = {
                    answer: $(this).text(),
                    definition: ch[0],
                    options: JSON.stringify({% if data %}{{ data[0].keywords|tojson }}{%endif%})
                }
            }
            $.ajax({
                url: "/check-answer",
                data: data,
                type: "POST",
                success: function(response) {
                    if(response.msg){
                        next_question()
                        return
                    }
                    item.css({"color":"red"})

                },
                error: function(error) {

                }
            });
        })
        $( "#new-question" ).on("click", function(){
            next_question()
        })

        function reset_text_color(){
            $(".c, .omt").css({"color":"black", "cursor":"pointer"})
        }

        function next_question(){
            reset_text_color()
            $.ajax({
                url: "/exercise",
                type: "POST",
                success: function(response) {
                    $(".definition").text(response.data[0].definition)
                    for(var i=0; i<response.data[0].keywords.length; i++){
                        $(`#${i}`).text(response.data[0].keywords[i])
                        $(`#${i}`).removeClass("c").addClass("omt")
                    }
                },
                error: function(error) {
                }
            });
        }

    </script>
{% endblock %}