{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="jumbotron">
            <h1>Welcome {{ name }}</h1>
            <p class="lead">Personal dictionary and word memorizing app.</p>
            <p class="lead">Let's start search words.</p>

        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-success">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}

        {% if data %}
            {% if data.msg %}
                <div class="alert alert-danger">
                    {{ data.msg }}
                </div>
            {% else %}
                <div class="alert alert-primary">
                    <h4>{{ data.keyword[0]|upper}}{{data.keyword[1:] }}</h4>
                    {% for key in data.definition %}
                        <li>{{ data.definition[key] }}</li>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

{% endblock %}

