{% extends "base.html" %}

{% block head %}
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block content %}



<form method="POST" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal text-center">Welcome</h1>
    <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
    <br>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <a class="btn btn-lg btn-primary btn-block" href="/register">Register</a>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert alert-danger">
            {{ messages[0] }}
        </div>
    {% endif %}
    {% endwith %}
</form>
{% endblock %}