{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block content %}
        <div class="jumbotron">
            <p class="lead">Words you recorded.</p>
            <p class="lead">Clicking on the word will open definitions.</p>
        </div>
        {% if data %}
            {% for key in data %}
                <div class="alert alert-success" role="alert" data-toggle="collapse" href="#{{key}}" aria-expanded="true">
                    <h5 class="alert-heading">{{ key[0]|upper}}{{key[1:] }} (point: <b>{{ points[key] }}</b>)</h5>
                    <div class="collapse" id="{{key}}">
                        {% for index in data[key] %}
                            <ul><li><p>{{ data[key][index] }}</p></li></ul>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
{% endblock %}