{% extends "base.html" %}

{% block head %}
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block content %}
<form method="POST" class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal text-center">Register</h1>
    <br>
    <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
    <br>
    <input type="email" name="email" class="form-control" placeholder="Email" required autofocus>
    <br>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <br>
            <div class="alert alert-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
        {% else %}
            Do you have an account?<a href="/login"> Redirect to login</a>
        {% endif %}
    {% endwith %}
</form>
{% endblock %}